.container {
  width: 1386px;
}

.row {
  border-bottom: 10px solid white;
}

#header-logo {
  height: 100px;
  display: flex;
  justify-content: center;
}

.searchBar {
  margin: 0;
}

#searchbar {
  width: 100%;
  background-color: rgb(224, 221, 221);
  border: none;
  border-radius: 5px 0 0 5px;
  height: 50px;
}
.search label {
  width: 100%;
  display: flex;
}

#btnSearch {
  background-color: rgb(224, 221, 221);
  border: none;
  border-radius: 0 5px 5px 0;
  width: 30px;
}

#btnSearch i {
  color: black;
}

/* recipe item */

.container-item__recipe {
  list-style: none;
  border-radius: 5px;
  margin-top: 40px;
}

.container-item__div {
  justify-content: space-between;
}

.divEmpty {
  background-color: #c7bebe;
  height: 178px;
  border-radius: 5px 5px 0 0;
}

.recipe {
  line-height: 1.2;
  background-color: #e7e7e7;
  height: 202px;
  border-radius: 0 0 5px 5px;
  padding: 0 15px 0 15px;
}

.recipe__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe__explanation {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 12px;
}

.recipe__header h3,
.recipe__header span {
  font-size: 18px;
  font-weight: 600;
}

.recipe__header span {
  font-weight: 700;
}

.recipe__ingrédients {
  width: 171px;
  height: 105px;
  font-weight: 800;
}

.recipe__ingrédients span {
  font-weight: 600;
}

.recipe__description {
  width: 171px;
  height: 114px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

/* dropdown */

.dropdown {
  color: white;
  display: flex;
  height: 70px;
  margin: 0;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
}

.dropdown_listbox {
  height: 60px;
  width: 135px;
  margin: 0 30px 0 0;
  border-radius: 5px;
}

.dropdown-listbox__name {
  display: flex;
  padding: 20px 52px 20px 20px;
  justify-content: space-around;
  align-items: center;
}

.dropdown_listbox i {
  position: absolute;
  right: 10px;
}

.fa-chevron-up {
  padding: 20px;
}

/*.ingredients,
    .device,
    .utensils {
      z-index: 1;
    }*/

.ingredients,
#input-ingredients,
.search-ingredients {
  background-color: rgb(35, 119, 245);
}

.appliance,
#input-appliances,
.search-appliances {
  background-color: rgb(151, 229, 151);
}

.utensils,
#input-utensils,
.search-utensils {
  background-color: tomato;
}

#input-utensils,
#input-appliances,
#input-ingredients {
  width: 600px;
  color: white;
  border: none;
  padding: 17px 0;
}

#input-utensils::placeholder,
#input-appliances::placeholder,
#input-ingredients::placeholder {
  color: #f0eeee;
}

#input-utensils:focus,
#input-appliances:focus,
#input-ingredients:focus {
  outline: none;
}

#listbox-utensils,
#listbox-appliances,
#listbox-ingredients {
  column-count: 3;
}

.search-ingredients,
.search-appliances,
.search-utensils {
  display: none;
  font-size: 18px;
  padding: 0 0 15px 15px;
  z-index: 1;
  width: 667px;
  position: relative;
  right: 15px;
  border-radius: 5px;
}

.close {
  display: none;
}

.dropdown-listbox__name-close {
  display: none;
}

.search-open {
  display: block;
}

.listbox {
  display: list-item;
}

#tag {
  display: flex;
}
.tag {
  padding: 10px;
  /*color: white;*/
  align-items: center;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-left: 16px;
  border-radius: 5px;
}

.spanTag {
  font-size: 22px;
  margin: 10px;
}

.tag-ingredient {
  background-color: rgb(35, 119, 245);
}

.tag-appliance {
  background-color: rgb(151, 229, 151);
}

.tag-utensil {
  background-color: tomato;
}
